@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <h2>Who's Askin'?</h2>
        <h3>The Dirt on Kim Vargas</h3>
        <br />
        <h2>Brief Bio:</h2>
        <p>Former School Psychologist turned programmer. Recent graduate from awesome We Can Code IT bootcamp. </p>
        <br />
        <h2>Skills</h2>
        <p>Proficient in the following programming languages:</p>
        <ul>
            <li>C#</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SQL</li>
            <li>jQuery</li>
        </ul>
	    <p>Typing: 60 wpm.</p>
        <br />
        <h2>GitHub</h2>
        <a href="https://github.com/kimvargas" style="font-size:1.5em" class="btn btn-danger">Git this GitHub</a>
        <br />
        <br />
    </div>
        
</div>
