@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-12">
        <h2>Call me!</h2>
        <p>Please don't..  i have social anxiety.</p>


        <h3>Link with me</h3>
        <a href="https://www.linkedin.com/in/kimberly-vargas-14444196" class="btn btn-primary">Linked Kim</a>
        <br />
        <h3>Email me</h3>
        <a href="mailto:k.vargas.diaz@gmail.com" class="btn btn-primary">k.vargas.diaz@gmail.com</a>

        <br />
        <h3>GitHub</h3>
        <a href="https://github.com/kimvargas" class="btn btn-primary">Git this GitHub</a>
    </div>
    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@

</div>
